body {
    background-image: url("maxresdefault.jpg");
}

.container {
    width: 960px;
}

.btn {
    background-color: #343a40;
}

.collapse {
    float: right;
}


/*p {
    float: right;
}*/

footer {
    /*clear: left;*/
    /*float: bottom;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    /*padding: 40px 0;*/
    text-align: center;
    border-top-style: solid;
    border-top-color: #fff;
    background-color: #343a40;
    color: #c4bdbd;
}